
@{
    ViewBag.Title = "Contato";
}

<main style="display:flex; flex-direction:row-reverse; margin-left:0;">
    <div class="imagem-contato" style="background-color: rgba(0,0,0,0.7); color: white; margin-top: 20px; width: 400px margin-left:0" >
        <img src="~/images/contato.jpeg"/ alt="imagem contato" width="500" height="300" >
    </div>
    <div class="container-fluid" style="background-color: rgba(0,0,0,0.7); color: white; margin-top: 20px; width: 400px; margin-left: 0">
        <h2>Contato</h2><br />
                        <p><img src="~/images/icons8-instagram-50.png" alt="logo instagram" />&nbsp;&nbsp;Mateus.Grispino</p>
                        <p><img src="~/images/icons8-whatsapp-50.png" alt="logo whatsapp" />&nbsp;&nbsp;(11)9 97070-7070</p>
                        <p><img src="~/images/icons8-enviar-e-mail-em-massa-50.png" alt="envolpe email" />&nbsp;&nbsp;Mateus@m&lcompany.com.br</p>

    </div>
</main>
