@{
    ViewBag.Title = "Página Inicial";
}

<div class="cards">
    <div class="div-card">
        <img class="card-img-top" src="~/images/inovacao.jpeg" alt="img inovacao" width="260" height="180">
        <div class="card-body">
            <h5 class="card-title">Inovação</h5>
            <p class="card-text">Aqui na M&L Company, sempre inovamos para se destacar perante nossos concorrentes!</p>
            <a href="/Home/Questionario" class="btn btn-primary">Saíba mais!</a>
        </div>
    </div>

    <div class="div-card">
        <img class="card-img-top" src="~/images/praticidade.jpeg" alt="img praticidade" width="260" height="180">
        <div class="card-body">
            <h5 class="card-title">Praticidade</h5>
            <p class="card-text">Contamos com os melhores profissionais em cada área para te atender no prazo informado!</p>
            <a href="/Home/Questionario" class="btn btn-primary">Saíba mais!</a>
        </div>
    </div>

    <div class="div-card">
        <img class="card-img-top" src="~/images/linguagem.jpeg" alt="img linguagens" width="260" height="180">
        <div class="card-body">
            <h5 class="card-title">Linguagens</h5>
            <p class="card-text">Alta variedade de linguagem pra te atender do melhor jeito da melhor forma (ASP .NET, PHP, PYTHON...)</p>
            <a href="/Home/Questionario" class="btn btn-primary">Saíba mais!</a>
        </div>
    </div>
</div>

<div class="container" style="background-color:rgba(0,0,0,0.7); color:white; margin-top:250px; padding-top:4px; padding-bottom: 15px;">
 <h2 style="text-align:center;">Sobre nós</h2>

 <p style="text-align:center; font-size:20px;">A M&L Company é uma empresa de desenvolvimento de software, que surgiu agora no mercado. Após perceber valores absurdos no mercado de software resolveu trazer uma solução.</p>
 <p style="text-align:center; font-size:20px;">Aplicações desktop ou web por um preço justo, visando que todos consigam obter um "upgrade" em suas lojas, fabricas, mercados e em estabelecimentos no geral.</p>
 <p style="text-align:center; font-size:20px;">Contamos com profissionais de ponta, que estarão sempre a disposição para atende-los.</p>

</div>
